---
layout: default
title: Home
---

{% if page.url == "/" %}
<!-- Featured Pages-->
<script>
    $(document).ready(function() {
    setTimeout(function() { $("#preloader").fadeOut(1500); }, 100)
  });
  </script>
  
<div class="featured-posts outer">
    {% for page in site.pages %}
        {% if page.featured == true and page.hidden == true %}
            {% include featuredbox.html %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
<!-- Hidden Pages Index -->
<div class="outer">
    {% if page.url == "/" %}
    <div class="post-feed-title inner">Latest Works</div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% assign hidden_pages = site.pages | where: "hidden", true | sort: "date" | reverse %}
        {% for page in hidden_pages %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>
<!-- Remove pagination since we're showing pages, not posts -->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}