/**
 * 10. Site Loader
 * ----------------------------------------------------------------------------
 */

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #21242d00 url('https://loading.io/asset/4347698044516164') no-repeat center;
	z-index: 999;
}